<% if camper_signed_in? %>
  <% if current_camper.admin == true %>
   おはようございます&nbsp;
  <% else %>
   いらっしゃいませ&nbsp;
  <% end %>
  <%= current_camper.camper_name %>さん
  <% else %>
    <h2>ゲストさん</h2>
<% end %>

<% @posts.each do |post| %>
  <div class="col-md-8 col-md-2 mx-auto">
    <div class="card-wrap">
      <div class="card">
        <div class="card-header align-items-center d-flex">
          <%= link_to camper_path(post.camper), class: "no-text-decoration" do %>
            <%#= image_tag avatar_url(post.camper), class: "post-profile-icon" %>
          <% end %>
          <%= link_to camper_path(post.camper), class: "black-color no-text-decoration",
            title: post.camper.camper_name do %>
            <strong><%= post.camper.camper_name %></strong>
          <% end %>
          <% if camper_signed_in? %>
            <% unless post.camper == current_camper %>
            　<% if current_camper.following?(post.camper) %>
     　　　　  　　　　 <%= link_to "フォロー外す", camper_relationships_path(post.camper.id), method: :delete %>
              <% else %>
     　　　　　  　　　 <%= link_to "フォローする", camper_relationships_path(post.camper.id), method: :post %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <%= link_to(post_path(post)) do %>
          <%= image_tag post.image, class: "card-img-top" %>
        <% end %>
        <div class="post-caption">
    　     <span><strong><%= post.camper.camper_name %></strong></span>
　        <span><%= post.caption %></span>
        </div>
    　   <%= link_to time_ago_in_words(post.created_at).upcase + "前", post_path(post), class: "post-time no-text-decoration" %>
          <div class="card-body">
            <div class="parts">
            <% if camper_signed_in? %>
                <div id="like-icon-post-<%= post.id.to_s %>">
                  <%=  render "public/posts/like_button", { post: post } %>
                </div>
            <% end %>
            </div>
            <div id="like-text-post-<%= post.id.to_s %>">
              <%= render "like_text", { likes: post.likes } %>
            </div>
            <div class="loved-count"><strong>「いいね！」<%= post.likes.count %>件</strong></div>
            <div id="comment-post-<%= post.id.to_s %>">
              <%= image_tag "parts6.png", style: "width: 50px; height: 50px;"%><span><%= post.comments.count %>件</span>
              <% post.comments.each do |comment| %>
                <div class="mb-2">
                  <% if camper_signed_in? %>
                    <% if comment.camper == current_camper || current_camper.admin == true %>
                      <%= link_to "削除", post_comment_path(post.id,comment.id, format: 2), method: :delete, class: "delete-comment" ,data: {"turbolinks"=>false} %>
                    <% end %>
                  <% end %>
                  <span>
                    <strong>
                      <%= link_to comment.camper.camper_name, camper_path(comment.camper), class: "no-text-decoration black-color" %>
                    </strong>
                  </span>
                  <span><%= comment.comment %></span>
                </div>
              <% end %>
            </div>
            <%= link_to time_ago_in_words(post.created_at).upcase + "前", post_path(post),
                class: "light-color post-time no-text-decoration" %>
            <% if camper_signed_in? %>
              <div class="row actions" id="comment-form-post-<%= post.id.to_s %>">
                <%= form_with model: [post, Comment.new], local: false, class: "w-100" do |f| %>
                  <%= f.hidden_field :camper_id, value: current_camper.id %>
                  <%= f.hidden_field :post_id, value: post.id %>
                  <%= f.text_field :comment, class: "form-control comment-input border-0", placeholder: "コメント ...", autocomplete: :off %>
                <% end %>
              </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>
<% end %>
