<div class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h2 class="head-line title_h2 text-center">
        <p>いいね一覧</p>
      </h2>
    </div>
  </div>
</div>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 g-3">
      <% @like_posts.each do |post| %>
      <%= link_to post_path(post) do %>
        <%= image_tag post.photos.first.image.url(:medium), class: "card-img-top" %>
      <% end %>
      <p class="card-text"><%= post.caption %></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <div id="like-icon-post-<%= post.id.to_s %>">
            <%=  render "public/posts/like_button", { post: post } %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<%= link_to "戻る" ,camper_path, class: "btn btn-primary pull-right" %>
